<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BulutBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BulutBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a href="/" class="navbar-brand">TEKNOLOJİ BULUTU</a> 

                <ul class="navbar-nav ms-outo">
                    @if(User.Identity!.IsAuthenticated){

                         <li class="nav-item">
                        <a href="/blogposts/create" class="nav-link">.Post Oluştur.</a>
                        </li>

                         <li class="nav-item">
                           <a href="#" class="lav-link">@User.Identity.Name</a>
                        </li>

                         <li class="nav-item">
                            <a href="/users/logout" class="lav-link"> .Çıkış Yap. </a>
                         </li>
                    }
                    else{

                        <li class="nav-item">
                        <a href="/users/login" class="lav-link">  .Giriş Yap.  </a>
                         </li>

                         <li class="nav-item">
                        <a href="/users/register" class="lav-link">  .Kayıt Ol.  </a>
                         </li>
                    }
                    
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - BulutBlog - <a asp-area="" asp-controller="Home" asp-action="BlogPosts">Teknoloji Bulutu</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
